.header {
  background-color: #2f55d4;
  color: white;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 15px 40px;
}

.logo {
  margin: 0;
  font-style: italic;
}

.nav a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-size: 14px;
  transition: 0.3s;
}

.nav a:hover {
  color: #e0e0e0;
}

.active {
  border-bottom: 2px solid white;
}
