.footer {
  background-color: #1e1e2f;
  color: white;
  padding: 40px 60px 20px 60px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo h3 {
  margin: 0;
}

.footer-logo p {
  margin-top: 10px;
  font-size: 14px;
  color: #ccc;
}

.footer-links,
.footer-social {
  display: flex;
  flex-direction: column;
}

.footer-links a,
.footer-social a {
  text-decoration: none;
  color: #ccc;
  margin: 5px 0;
  font-size: 14px;
  transition: 0.3s;
}

.footer-links a:hover,
.footer-social a:hover {
  color: white;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #444;
  padding-top: 15px;
  font-size: 13px;
  color: #aaa;
}
